
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: black;
            background-image: url(smcc-bg.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        header {
            background-color: rgb(5, 5, 129);
            color: #fff;
            padding: 15px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }

        .navbar {
            background-color: rgb(223, 196, 40);
        }
        
        .navbar-brand {
            color: white;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }
        
        .navbar-toggler-icon {
            background-color: white;
        }
        
        .navbar-nav .nav-link {
            color: white;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        nav a:hover {
            background-color: goldenrod;
        }
        
        @media (max-width: 767px) {
            .navbar-nav {
                text-align: center;
                margin-top: 10px;
            }
        
            .navbar-nav .nav-item {
                display: block;
                margin: 0;
            }
        }

        section {
            padding: 20px;
        }

        footer {
            background-color: rgb(5, 5, 129);
            color: #fff;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
            font-family: 'Times New Roman', Times, serif;
        }

        .box-style {
            border: 5px solid rgb(5, 5, 129);
            padding: 30px;
            border-radius: 20px;
            background-color: rgb(223, 196, 40);
            width: 600px;
            text-align: left;
            box-shadow: 0 4px 20px;
            margin-top: 20px;

        }

        .box-button {
            text-align: center;
            font-size: 15px;
            color: goldenrod;
            background-color: rgb(5, 5, 129);
            font-weight: 900;
            padding: 10px 18px;
            border: none;
            border-radius: 20px;
            transition: background-color 0.3s ease;
            box-shadow: none;
            width: 200px;
            margin: 0 auto; 
            margin-top: 5vh; 
            font-weight: bold;
        }

        .container {
            display: flex;
            justify-content: space-around;
        }
        .box {
            border: 2px solid black;
            border-radius: 20px;
            padding: 20px;
            margin: 10px;
            text-align: left;
            background-color: rgb(5, 5, 129);
            box-shadow: 0 5px 20px;
          }
      
          .box img {
            width: 100px;
            height: 100px;
            display: block;
            margin: 0 auto 10px;
          }
      
          .text-box {
            border: 2px solid #ddd;
            padding: 10px;
            margin: 10px;
            height: 250px;
            background-color: rgb(223, 196, 40);
            box-shadow: 10px 10px white;
            font-size: small;
          }

        .boxx {
            border: 2px solid black;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            text-align: left;
            background-color: rgb(5, 5, 129);
            box-shadow: 0 4px 20px;
        }

        .contact-box {
            background-color: rgb(5, 5, 129);
            padding: 10px;
            border-radius: 20px;
            margin: 10px;
            box-shadow: 0 4px 20px;
            width: fit-content;
        }
        
        .text-boxx {
            border: 2px solid #ddd;
            padding: 10px;
            margin: 10px;
            background-color: rgb(223, 196, 40);
            box-shadow: 10px 10px white;
            width: fit-content;
        }

        .image-container {
            margin: 10px 0px;
        }
        
        .image-wrapper {
            text-align: center;
            margin: 10px 0px;
        }
        
        .img-fluid {
            height: 400px;
            width: auto ;
        }

        html {
            scroll-behavior: smooth;
        }